<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        </br>
        <a href="/toughts/add" class="btn"> Criar Pensamentos</a>
        </br></br></br>
    </div>
    <h3>Seus Pensamentos</h3>
</div>
