<h1>Livros Disponiveos</h1>

<div class="books-container">
    {{#each books}}
    <div>
       # {{this.id}} - <span class="bold">{{this.title}}</span> - {{this.pageqty}} páginas
    </div>
    {{/each}}

    <a href="./">Adicionar Livro</a>
</div>