<div class="book-page">
    <a href="./">voltar</a>
    <section class="container">
        <h1>{{book.title}}</h1>
<p>Este livro tem {{book.pageqty}} paginas</p>

<hr>
<a href="/books/edit/{{book.id}}">Editar</a>
    </section>

</div>